html,
body {
  margin: 0;
  height: 100%;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }

body {
  background-color: #5f9ea0;
}

.c-site-header {
  color: #000000;
  background-color: #00cc99;
  font-family: verdana;
  font-size: 150%;
  padding-top: 5px;
  padding-bottom: 50px;
}
  
.author {
  margin-left: 50px;
  margin-right: 55%;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  background-color: #536872;
}

.intro {
  margin-left: 50px;
  margin-right: 55%;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.soloists {
  margin-right: 300px;
  margin-top: 90px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: verdana;
  font-size: 200%;
  color: black;
}

.center-frusciante {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.center-gilmour {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.center-hazel {
  margin-left: 100px;
  margin-right: auto;
  width: 20%;
}

h2 {
  font-family: monospace;
  text-align: center;
  font-size: 200%;
  text-decoration: underline;
  color: black;
}

h4 {
  text-align: center;
  font-family: arial;
  color: black;
}

p {
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
  font-size: 115%;
  color: black;
  background-color: #536872;
}

.soloists {
  float: right;
  background-color: #536872;
  position: relative;
  top: -30px;
  padding-right: 100px;
  padding-left: 100px;
}

.c-site-footer {
  text-align: center;
  color: black;
  font-size: 125%;
  background-color: #00cc99;
  padding-top: 20px;
}

#frusciante1 {}
a:link, a:visited {
  color: black;
}

.frusciante-title {
  position: relative;
  margin-left: 45px;
  margin-right: 45px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  background-color: #536872;
}

.frusciante-text {
  position: absolute;
  margin-left: 45px;
  margin-right: 70%;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.look-on-video {
position: absolute;
  margin-right: 25px;
  margin-left: 70%;
  margin-top: -305px;
}

.gilmour-title {
  position: relative;
  margin-left: 45px;
  margin-right: 45px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  background-color: #536872;
}

.gilmour-text {
   position: absolute;
  margin-left: 70%;
  margin-right: 5%;
  margin-top: -19%;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.marooned-video {
  position: absolute;
  margin-left: 60px;
  margin-top: -305px;
}

.hazel-title {
 position: relative;
  margin-left: 45px;
  margin-right: 45px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  background-color: #536872; 
}

.hazel-text {
  position: absolute;
  margin-left: 70%;
  margin-right: 80px;
  margin-top: -315px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.maggot-brain-video {
  position: absolute;
  margin-left: 11%;
}